// ブレークポイント
$bp-pc: 1024px;
$bp-tablet: 820px;
$bp-sp: 576px;

// カラー
$color-bg: #faebeb;
$color-text: #26306e;
$color-border: #f7beff;
$color-icon: #E67580;
$color-icon-hv: #c8505c;
$color-caution: #504f4f;
$color-sns: #FDFCFC;
$color-sns-bg: rgba(255, 255, 255, 0.1);
$color-sns-bg-hv: rgba(255, 255, 255, 0.25);
$color-tel: #E67580;
$color-line: #06C755;
$color-insta: #E1306C;
$color-footer: #0B102F;